.container{
    background-color: black;
    height: 10vh;
    width: 100vw;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .searchIcon{
        display: none;
    }
}
@media (max-width: 767px) {
    .searchIcon{
        color: white;
    }
    .searchInput{
        display: none;
    }
}