.container{
    width: 60px;
    /* height: 88vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.icons{
    color: white;
}
.bottomButton{
    margin-bottom: 60px;
}